<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.interviewlibrary"> <!-- To auto-complete the email text field in the login form with the user's emails -->

    <application>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LibHomeActivity"
            android:label="@string/title_activity_lib_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>